.home {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
