.header {
  position: sticky;
  top: 0;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #389344;
  }

  &__logo {
    position: relative;
    padding: 0 10px;
    height: 40px;
    z-index: 1;
    border-radius: 4px;
    cursor: pointer;

    img {
      display: block;
      width: 100%;
      height: 100%;
      aspect-ratio: 153/40;
      object-fit: cover;
    }
  }

  &__bars {
    padding: 5px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #389344;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      opacity: 0.8;
    }

    svg {
      fill: #fff;
      width: 100%;
      height: 100%;
    }
  }
}
